<div id = "volunteerbuttons">
    <a href="/profile" id = "profile" class="NavMenuButton"> Profile</a>
    <a href = "/application" id = "application" class = "NavMenuButton"> Application </a>
    <p id = "onboarding" class="NavMenuButton"> Onboarding </p>
    <p id = "calendar" class= "NavMenuButton"> Calendar </p>
    <a href="/volunteerpositions" id = "volunteer" class="NavMenuButton"> Volunteer </a>
    <a href="/logout" id = "logout" class="NavMenuButton">Logout</a>
</div>

<div id = "coordinatorbuttons">
    <a href = "/coorDash" id = "dash" class = "NavMenuButton"> Dashboard </a>
    <p id = "managevolunteers" class = "NavMenuButton"> Manage Volunteers </p>
    <p id = "managecalendar" class = "NavMenuButton"> Manage Calendar </p>
    <a href="/logout" id = "logout" class="NavMenuButton">Logout</a>
</div>


<script>

var userType = '<%= user.local.userType %>';

if (userType === "standard") {
    isVolunteer = true;
}
else {
    isVolunteer = false;
}

document.getElementById('<%= page %>').classList.add('NavMenuSelection');

if (isVolunteer) {
    document.getElementById("volunteerbuttons").style.display = "block";
    document.getElementById("coordinatorbuttons").style.display = "none";
}
else {
    document.getElementById("coordinatorbuttons").style.display = "block";
    document.getElementById("volunteerbuttons").style.display = "none";
}
        
</script>