<div id = "volunteerbuttons">
    <a href="/profile" id = "profile" class="NavMenuButton"> Profile</a>
    <a href = "/application" id = "application" class = "NavMenuButton"> Application </a>
    <a href="/calendar" id = "calendar" class= "NavMenuButton"> Calendar </p>
    <a href="/volunteerpositions" id = "volunteerpositions" class="NavMenuButton"> Position Details </a>
    <a href="/logout" id = "logout" class="NavMenuButton">Logout</a>
</div>

<div id = "coordinatorbuttons">
    <a href = "/coorDash" id = "dash" class = "NavMenuButton"> Dashboard </a>
    <p id = "managevolunteers" class = "NavMenuButton"> Manage Volunteers </p>
    <a href="/calendar" id = "managecalendar" class = "NavMenuButton"> Manage Calendar </a>
    <a href="/logout" id = "logout" class="NavMenuButton">Logout</a>
</div>


<script>

var userType = '<%= user.local.userType %>';
var isCoordinator =   '<%=user.local.isCoordinator %>';
if (isCoordinator == 'false') {
    isVolunteer = true;
}
else {
    isVolunteer = false;
}

document.getElementById('<%= page %>').classList.add('NavMenuSelection');

console.log('isVolunteer = ' + isVolunteer);
console.log('isCoordinator = ' + isCoordinator);
if (isVolunteer == true) {
    document.getElementById("volunteerbuttons").style.display = "block";
    document.getElementById("coordinatorbuttons").style.display = "none";
}
else {
    document.getElementById("coordinatorbuttons").style.display = "block";
    document.getElementById("volunteerbuttons").style.display = "none";
}
        
</script>