<div id = "volunteerbuttons">
    <a href="/profile" id = "profile" class="NavMenuButton"> Profile</a>
    <% if (user.local.appStatus == 'Approved') { %>
        <a href="/calendar" id = "calendar" class= "NavMenuButton"> Calendar </a>
    <% } else { %>
        <a href = "/application" id = "application" class = "NavMenuButton"> Application </a>
    <% } %>
    
    <a href="/viewTrainings" id = "viewTrainings" class= "NavMenuButton"> View Trainings </a>
    <a href="/viewPositions" id = "viewPositions" class= "NavMenuButton"> View Positions </a>
    <br><br>
    <a href="/logout" id = "logout" class="NavMenuButton" 
        style="border-color: #8a2520; color: #8a2520; background-color: #99b27f;">
            Logout
        </a>
</div>

<div id = "coordinatorbuttons">
  <a href = "/coorDash" id = "dash" class = "NavMenuButton"> Dashboard </a>
  <a href="/volunteermanagement" id = "volunteermanagement" class="NavMenuButton"> Volunteer Mgmt</a>
  <a href="/manageCalendar" id = "managecalendar" class = "NavMenuButton"> Manage Calendar </a>
  <a href="/trainings" id = "trainings" class="NavMenuButton"> Training List </a>
  <a href="/volunteerpositions" id = "volunteerpositions" class="NavMenuButton"> Positions List </a>
  <br><br>
   <a href="/logout" id = "logout" class="NavMenuButton" 
      style="border-color: #8a2520; color: #8a2520; background-color: #99b27f;">
        Logout
    </a>
</div>


<script>

var isCoordinator =   '<%=user.local.isCoordinator %>';
if (isCoordinator == 'false') {
    isVolunteer = true;
}
else {
    isVolunteer = false;
}

document.getElementById('<%= page %>').classList.add('NavMenuSelection');

console.log('isVolunteer = ' + isVolunteer);
console.log('isCoordinator = ' + isCoordinator);
if (isVolunteer == true) {
    document.getElementById("volunteerbuttons").style.display = "block";
    document.getElementById("coordinatorbuttons").style.display = "none";
}
else {
    document.getElementById("coordinatorbuttons").style.display = "block";
    document.getElementById("volunteerbuttons").style.display = "none";
}
        
</script>