<a href="/profile" class="NavMenuButton"> Profile</a>
<p class = "NavMenuButton NavMenuSelection"> Application </p>
<p class="NavMenuButton"> Onboarding </p>
<p class="NavMenuButton"> Calendar </p>
<a href="/volunteerpositions" class="NavMenuButton"> Volunteer </a>
<a href="/logout" class="NavMenuButton">Log out</a>