<link rel='stylesheet' type='text/css' href='stylesheets/fullcalendar.css' />
    <script src='moment.js'></script>
    <script type='text/javascript' src='jquery.min.js'></script>
    <script type='text/javascript' src='stylesheets/fullcalendar.js'></script>
    <script>
    $(function() {

        // page is now ready, initialize the calendar...
      
        $('#cal').fullCalendar({
            height: 'parent'
          // put your options and callbacks here
        })
      
      });
    </script>

<body style="border: 1px solid #000000;">
    <h2> My Calendar</h2>
    <fieldset class = "Calendar">
        <div>
            <div id="cal"></div>
        </div>
    </fieldset>
</body>