<head>
    <link rel='stylesheet' type='text/css' href='stylesheets/fullcalendar.css' />
    <script src='moment.js'></script>
    <script type='text/javascript' src='jquery.min.js'></script>
    <script type='text/javascript' src='stylesheets/fullcalendar.js'></script>
    <script src='events.js'></script>
    <script src='calendar.js'></script>
</head>

<body style="border: 1px solid #000000;">
    <h2> My Calendar</h2>
    <fieldset class = "cal"></fieldset>
</body>