<% trainings.forEach(function(training) { %>
      <li> 
        <b><%= training[0] %></b>
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <i><%=training[1] %> </i>
      </li>
    <% }); %>