<head>
    <link rel='stylesheet' type='text/css' href='stylesheets/fullcalendar.css' />
    <script src='moment.js'></script>
    <script type='text/javascript' src='jquery.min.js'></script>
    <script type='text/javascript' src='calendarScripts/fullcalendar.js'></script>
    <script src='calendarScripts/calendar.js'></script>
</head>
<style>
    .hide {
        display: none;
    }
</style>

<body style="border: 1px solid #000000;">
    <a id="theevents" class="hide" display="none"><%= JSON.stringify(events) %></a>
    <h2> My Calendar</h2>
    <fieldset id = "calendar" class = "cal"></fieldset>
</body>