<!DOCTYPE html>


<html lang="en">
 
<head>
    <%- include partials/head.ejs %>
</head>

<body>

<header>
    <h2>Application</h2>
</header>

<section>
<nav>
        <%- include partials/navMenu.ejs %>
</nav>

<article>
    <div id="main-content" class="content-width row">
        <div class="content-area col-xs-12">        
            <h1>Volunteer Application Form</h1>   
            <div class="">

                <p><iframe id="AppFrame" 
                    src="https://www.volgistics.com/ex/portal.dll/ap?ap=478974959&amp;embedded=on" 
                    style="height:66vh;width:800px"></iframe></p>                     
            </div> 
        </div>
    </div>


</article>
</section>

<footer>
All Paws on Deck!
</footer>

</body>

</html>


