<!DOCTYPE html>

<html lang="en">

  <head>
    <title>APOD Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/primarySiteTheme.css">
  </head>

  <body>
    <header>
    <h2>Welcome <%= user.local.firstname %></h2>
    </header>
    <nav>
        <%- include partials/navMenu.ejs %>
    </nav>
        <%- include partials/partialCalendar.ejs %>
  </body>
  <footer>
      <%- include partials/footer.ejs %>
    </footer>
</html>
