<!DOCTYPE html>
<html lang="en">
 
  <head>
    <title>APOD Coordinator Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/primarySiteTheme.css">
  </head>

  <body>
    <header>
    <h2>Coordinator Dashboard</h2>
    </header>

    <section>
    <nav>
        <%- include partials/navMenu.ejs %>
    </nav>

    <article>
      <div id = "userProfile"
        <%- include partials/partialUserProfile.ejs %>
      </div>
    
    <h2>Training List</h2>
    <%-include partials/partialDisplayTrainingList.ejs %>

	<body class = "text-center" style="border: 1px solid #000000;"></body>

    

    <h2>Position List</h2>
	<%- include partials/partialDisplayPositionList.ejs %>
    </article>
    </section>

    <footer>
    All Paws on Deck!
    </footer>

  </body>
  <script>
    function submitChanges(){
        console.log("about to post");
        document.getElementById("frmEditProfile").submit();
        console.log("done with post");
    }
</script>
</html>
