<!DOCTYPE html>
<html lang="en">
 
  <head>
    <title>APOD Coordinator Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/primarySiteTheme.css">
  </head>

  <body>
    <header>
    <h2>Coordinator Dashboard</h2>
    </header>

    <section>
    <nav>
        <%- include partials/navMenu.ejs %>
    </nav>

    <article>
      <div id = "userProfile"
        <%- include partials/partialUserProfile.ejs %>
      </div>
    
    <h2>Training List</h2>
    <% trainings.forEach(function(training) { %>
      <li><%= training %> </li>
    <% }); %>

    <h2>Position List</h2>
    </article>
    </section>

    <footer>
    All Paws on Deck!
    </footer>

  </body>
</html>
