<!DOCTYPE html>
<html lang="en">
 
  <head>
    <title>APOD Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/primarySiteTheme.css">
  </head>

  <body>
    <header>
    <h2>Welcome!</h2>
    </header>

    <section>
    <nav>
        <p class = "NavMenuButton NavMenuSelection"> My Profile </p>
        <a href="/application" class="NavMenuButton"> Application</a>
        <p class="NavMenuButton"> Onboarding </p>
        <p class="NavMenuButton"> Calendar </p>
        <a href="/volunteerpositions" class="NavMenuButton"> Volunteer </a>
        <a href="/logout" class="NavMenuButton">Log out</a>
    </nav>

    <article>
      <h2>Name</h2>

      <p1><%= user.local.firstname %> <%= user.local.lastname %></p1>
        <h2>Email</h2>

        <p><%= user.local.email %></p>
    </article>
    </section>

    <footer>
    All Paws on Deck!
    </footer>

  </body>
</html>
