<!DOCTYPE html>


<html lang="en">
 
<head>
    <title>All Paws On Deck</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="stylesheets/primarySiteTheme.css">
</head>

<body>

<header>
<h2>Volunteer Positions</h2>
</header>

<section>
<nav>
    <%- include partials/navMenu.ejs %>
</nav>

<article>
    <h2>Open Job List</h2>
	<%- include partials/partialDisplayPositionList.ejs %>


    <body class = "text-center" style="border: 1px solid #000000;"></body>

    <form class = "EditProfile" action="/volunteerpositions" method="post" id = "frmEditProfile">
        
		<table class = "EditProfileHeader">
            <tr>
                <th class = "EditProfileLabel">Position Name:</th>
                <th>
                    <input class = "EditProfileInput" 
                        name="positionName"
                        type="text" >
                        
                </th>
            </tr>
            <tr>
                <th class = "EditProfileLabel">Role Description:</th>
                <th>
                    <input class = "EditProfileInput" 
                        name="roleDescription"
                        type="text" >          
                </th>
            </tr>
			<tr>
                <th class = "EditProfileLabel">Trainings:</th>
                <td>
                    <ul id="dynamic-list"></ul>
				</td>
			</tr>
			<tr>
				<td><ul>
					<% trainings.forEach((training)=>{ %>
						
							<p><%=training%>
							<input type="checkbox" name="training" value="false" onchange= addTraining() />Add</button>
							</p>
					<%})%>
					</ul>
                </td>
				
            </tr>
        </table>      
    </form>
    
    <button class = "EditProfileBtn" onclick = "submitChanges()" >ADD</button>
    
</article>
</section>

<footer>
    <%- include partials/footer.ejs %>
</footer>

</body>

<script>
    function submitChanges(){
        console.log("about to post");
        document.getElementById("frmEditProfile").submit();
        console.log("done with post");
    }
</script>
<script>
    function addTraining(){
		var ul = document.getElementById("dynamic-list");
		var candidate = document.getElementById("training");
		var li = document.createElement("li");
		li.setAttribute('id',candidate.value);
		li.appendChild(document.createTextNode(candidate.value));
		ul.appendChild(li);
    }
</script>

</html>


