<!DOCTYPE html>


<html lang="en">
 
<head>
    <title>All Paws On Deck</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="stylesheets/primarySiteTheme.css">
</head>

<body>

<header>
<h2>Volunteer Positions</h2>
</header>

<section>
<nav>
    <a href="/profile" class="NavMenuButton"> Profile</a>
    <a href="/application" class="NavMenuButton"> Application</a>
    <p class="NavMenuButton"> Onboarding </p>
    <p class="NavMenuButton"> Calendar </p>
    <p class = "NavMenuButton NavMenuSelection"> Volunteer </p>
    <a href="/logout" class="NavMenuButton">Log out</a>
</nav>

<article>
    <h2>Open Job List</h2>

    
</article>
</section>

<footer>
All Paws on Deck!
</footer>

</body>



</html>


