.ManagementTable {
    background-color: blanchedalmond;
    border-collapse: collapse;
    width: 100%;
  }
  
  .ManagementTable th {
    background-color: blanchedalmond;
    text-align: left;
  }
  
  .ManagementTable td, th {
    padding: 10px;
    border-bottom: 1px solid #632600;
  }
  
  .ManagementTable tr:hover {
  
    background-color: #f7e68a;
  }